.navbar-header {
  margin-left: 1rem;
}

.nav {
  width: 100%;
  align-content: center;
  align-self: center;
  display: flex;
  justify-content: center;
}

a {
  color: white;
  font-family: "Montserrat", sans-serif;
}
