<!--Sisäänkirjautuminen-->
<div class="container-fluid">
  <div class="d-flex mt-3 mb-3">Kirjautuminen</div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group col-sm-4">
      <label for="email">Email:</label>
      <input
        type="text"
        class="form-control"
        name="email"
        id="email"
        required
        ngModel
      />
      <label for="password">Salasana:</label>
      <input
        type="password"
        class="form-control"
        name="password"
        ngModel
      /><br />
      <button type="submit" class="btn btn-light">Kirjaudu</button>
    </div>
  </form>
  <!--Linkki rekisteröitymis välilehteen-->
  <div class="register">
    <a href="/register">Rekisteröidy</a>
  </div>
</div>
