<div class="container">
  <h3>Kaikki reseptit</h3>
  <div *ngFor="let recipe of recipes" routerLink="/detail/{{ recipe.id }}">
    <div class="card bg-light mb-3" style="width: 22rem">
      <div class="card-body">
        <button
          class="btn btn-outline-secondary"
          title="Poista Resepti"
          (click)="delete(recipe)"
        >
          <span class="material-symbols-outlined"> delete </span>
        </button>
        <button
          class="btn btn-outline-secondary"
          title="Muokkaa reseptiä"
          routerLink="/edit/{{ recipe.id }}"
        >
          <span class="material-symbols-outlined"> edit </span>
        </button>
        <h5 class="card-title">{{ recipe.name | uppercase }}</h5>
      </div>
    </div>
  </div>
</div>
